
/*div{
    border:solid;
    padding:20px;
}*/

.uppercase{
   text-transform:uppercase;
   font-size: 30px;
}

.list-group-item{
    border:0;
    padding-top:15px;
    padding-bottom:15px;
}

p{
    color:white
}

body{
    background-image: url(images/wallpapaer0001.png);
    background-size: cover;