
/*div{
    border:solid;
    padding:20px;
    border-color: white
}*/

.uppercase{
   text-transform:uppercase;
   font-size: 30px;
}

.list-group-item{
    border:0;
    padding-top:15px;
    padding-bottom:15px;
}

p{
    color:white
}

body{
    background-image: url(images/wallpapaer0001.png);
    background-size: cover;
}  

.custom-padding{
    padding-bottom:185px; 
}

.color{
  color:white;
}

custom-padding-two{
    padding-bottom:100px;
}

img{
   width:700px;
   height:400px;
}
